[submodule "compile/ExternalDependencies/swan"]
	path = compile/ExternalDependencies/swan
	url = https://github.com/ds-pokemon-hacking/swan
[submodule "compile/ExternalDependencies/NitroKernel"]
	path = compile/ExternalDependencies/NitroKernel
	url = https://github.com/HelloOO7/NitroKernel
