[submodule "compile/ExternalDependencies/swan"]
	path = compile/ExternalDependencies/swan
	url = git@github.com:kingdom-of-ds-hacking/swan.git
[submodule "compile/ExternalDependencies/extlib"]
	path = compile/ExternalDependencies/extlib
	url = https://github.com/HelloOO7/ExtLib.git
[submodule "compile/ExternalDependencies/NitroKernel"]
	path = compile/ExternalDependencies/NitroKernel
	url = git@github.com:HelloOO7/NitroKernel.git
